<%- include('./partials/nav.ejs') %>

<head>
  
  <link rel="stylesheet" href="styleTables.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <h5 style="font-size: 20px; margin-bottom: 10px;" >Tabla de estadisticas de reportes diarios</h5>
    <hr>
    <table id="users" class="table table-light table-striped table-hover table-bordered text-center  " style="font-size: 14px;">
      <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Telefono</th>
        <th>Plan</th>
        <th>Estado de llamada</th>
        <th>Tipificacion</th>
        <th>Observaciones</th>
        <th>administrar datos</th>
      </tr>
      </thead>

      <tbody>
        <% results.forEach((user) => {%>


        <tr>
          <td><%= user.id %> </td>
          <td><%= user.nombre %> </td>
          <td><%= user.cedula %></td>
          <td><%= user.telefono %></td>
          <td><%= user.plan %></td>
          <td><%= user.estadoLLamada %></td>
          <td><%= user.tipificacion %></td>
          <td><%= user.observaciones %></td>
          <td>
            <a href="/editTeletrabajoClient/<%= user.id %>" class="btn btn-warning" type="button"><i class='bx bx-pencil'></i></a>
            <a href="/telecomunicacionesValidarUsuario/<%= user.id %>" class="btn btn-success" type="button"><i class='bx bx-user-check'></i></a>
            <!-- <a href="/registerUsersDelate/" class="btn btn-danger" type="button"><i class='bx bxs-trash' ></i></a> -->
            <a onclick="alertDelate('<%= user.id %>')" class="btn btn-danger" type="button"><i class='bx bxs-trash'></i></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"  ></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js" defer></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js" defer></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap.min.js" defer></script>
<script>
 $(document).ready(function() {
    var table = $('#users').DataTable( {
        responsive: true
    } );
 
    new $.fn.dataTable.FixedHeader( table );
} );
    
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script>
  function alertDelate(id) {
    Swal.fire({
      title: '¿Quieres eliminar este usuario?',
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'NO',
      cancelButtonColor: '#d33' ,
      confirmButtonColor:'#3085d6' ,
      confirmButtonText: ` SI `,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        Swal.fire('Usuario eliminado exitosamente', '', 'success',1500)
        const value = true
        setTimeout(timeUot, 2000, value, id);
      } 
    })
  }
  function timeUot (values, id){
    if(values){
      window.location='/telecomunicacionesUsersDelate/'+ id
    }
    
  }
</script>
<%- include('./partials/footer.ejs') %>

<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</html>