<%- include('./partials/nav.ejs') %>


<head>

  <link rel="stylesheet" href="styleTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    .visor_imagenes {
      text-align: center;
    }

    .blanco-rojo {
      color: black;
      background-color: rgb(255, 237, 148);
      border: 1px solid rgb(232, 208, 92);
      border-radius: 2px;
    }

    .blanco-rojo2 {
      color: black;
      background-color: rgb(162, 255, 148);
      border: 1px solid rgb(100, 213, 82);
      border-radius: 2px;
    }
    .blanco-rojo3 {
      color: black;
      background-color: rgb(255, 148, 148);
      border: 1px solid rgb(232, 97, 97);
      border-radius: 2px;
    }
  </style>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    
    <h5 style="font-size: 20px; margin-bottom: 10px;">inventario de consumibles</h5>
    <hr>
    <div class="row">
        <a href="/inventarioConsumiblesnewConsumibleRedline" style="margin-bottom: 10px; margin-left: 8px;" class="btn btn-outline-secondary col-md-2 " type="button">Agregar consumible</a>
      </div>
    <table id="users" class="table table-light table-striped table-hover table-bordered text-center  " style="font-size: 14px;">
      <thead>
        <tr>
          <th>id del pruducto</th>
          <th>nombre</th>
          <th>cantidad</th>
          <th>disponibilidad</th>
          <th>utilidades</th>
        </tr>
      </thead>

      <tbody>
        <% results.forEach((user) => {%>


        <tr>
          <td><%= user.id_consumibles %> </td>
          <td><%= user.nombre %> </td>

          <td><% if(user.tipo_unidad=='M'){ %> 
            <%= user.cantidad %> Metros
          <% }else{ %> 
            <%= user.cantidad %> unidades
            <% } %> 
          </td>
          <td class="visor_imagenes" ><% if (user.cantidad <= 0) {%>
            <p class="blanco-rojo3"> Agotado </p>
            <% }else if( user.cantidad >= 1 && user.cantidad <= user.cantidad_min ){%>
            <p class=" blanco-rojo"> Enpieza a escasear </p>
            <% }else{%>
            <p class="blanco-rojo2"> Disponible </p>
            <% } %>
          </td>
          <td>
            <a href="/informacionConsumiblesRedline/<%= user.id %>" class="btn btn-warning" style="font-size: 14px;" type="button"><i class='bx bxs-error-circle'></i></a>
            <a href="/inventarioConsumiblesnewConsumiblesEditRedline/<%= user.id %>" class="btn btn-info" style="font-size: 14px;" type="button"><i class='bx bx-pencil'></i></a>
            <a href="/inventarioConsumiblesSalidaConsumiblesRedline/<%= user.id %>" class="btn btn-success" style="font-size: 14px;" type="button"><i class='bx bx-archive-out' ></i></a>
            <a href="/inventarioConsumiblesIngresoConsumiblesRedline/<%= user.id %>" class="btn btn-warning" style="font-size: 14px;" type="button"><i class='bx bx-archive-in' ></i></a>
            <!-- <a href="/registerUsersDelate/" class="btn btn-danger" type="button"><i class='bx bxs-trash' ></i></a> -->
            <a onclick="alertDelate('<%= user.id %>')" style="font-size: 14px;" class="btn btn-danger" type="button"><i class='bx bxs-trash'></i></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js" defer></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js" defer></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap.min.js" defer></script>
<script>
  $(document).ready(function() {
    var table = $('#users').DataTable({
      responsive: true
    });

    new $.fn.dataTable.FixedHeader(table);
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script>
  function alertDelate(id) {
    Swal.fire({
      title: '¿estas seguro de eliminar este producto permanente?',
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'NO',
      cancelButtonColor: '#d33' ,
      confirmButtonColor:'#3085d6' ,
      confirmButtonText: ` SI `,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        Swal.fire('el producto se elimino permante de forma exitosa', '', 'success',1500)
        const value = true
        setTimeout(timeUot, 2000, value, id);
      } 
    })
  }
  function timeUot (values, id){
    if(values){
      window.location='/inventarioConsumibleDelateRedline/'+ id
    }
    
  }
</script>

<%- include('./partials/footer.ejs') %>

<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</html>