<!doctype html>
<html lang="en">
<head>
    <title></title>
    <link rel="icon" href="/imgs/logo-white.ico">
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleNavar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script>import 'boxicons';</script>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>
</head>
<body class="login" >
    <header class="headerNav" >
        <nav class="navbarPrimary">
            <a href="/home" class="navLogo"><img src="img/2logo.png" alt="" width="100px"></a>
            <ul class="navMenu">
                <li class="navItem">
                    <a  href="/home" class="navLink"><i class='bx bxs-home-circle bx-flip-horizontal' ></i> Home</a>
                </li>
                <li class="navItem">
                    <a href="" class="navLink"><i class='bx bxs-box'></i> Inventorio Herramientas y equipo</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink"><i class='bx bxs-box'></i> inventario de material</a>
                </li>
                <li class="navItem">
                    <a href="#" class="navLink"><i class='bx bxs-box'></i> inventario de equipos</a>
                </li>
                    
                
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

<div class="container" style="margin-top: 80px; ">
    <div class="row justify-content-center mt-5 ">
        <div class="col-lg-5 col-md-8 col-sm-8">
            <div class="card">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">agregar consumible al inventario</h2>
                </div>
                <div class="card-body">
                    <form action="/inventarioConsumiblesnewConsumiblesSendRedline" method="POST">
                        <div class="mb-3">
                            <h5 for="usuario">id del consumible</h5>
                            <p>
                                !Ojo porfavor tenga en cuenta que si el id que ingresa ya existe este producto no se agregara 
                            </p>
                            <input type="text" class="form-control"  name="id_consumibles" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">nombre del consumible</h5>
                            <input type="text" class="form-control"  name="nombre" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">cantidad</h5>
                            <input type="number" class="form-control"  name="cantidad" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">cantidad minima</h5>
                            <input type="number" class="form-control" name="cantidad_min" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">precio de compra</h5>
                            <input type="number" class="form-control" name="precio_compra" required>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">cantidad semanal promedio de gasto</h5>
                            <input type="number" class="form-control" name="cantidad_semanal" required>
                        </div>
                        
                        
                        <div class="mb-3">
                            <h5 for="usuario">tipo de medida para el insumo</h5>
                            <select id="opcion" class="form-control"  style="font-size: 12px;" name="tipo_medida" required>
                                <option value="U" style="font-size: 12px;">Unidad</option>
                                <option value="M" style="font-size: 12px;">Metros</option>
                                <option value="P" style="font-size: 12px;">cantidad de unidades por Paquetes</option>
                            </select>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>por favor usuario precione un boton segun su seleccion de la anterior opcion - - - - - - - - - - (si seleccionaste unidad este paso te lo puedes saltar) </p>
                              <p>
                                <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">metros</a>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">cantidad de unidades por Paquetes</button>

                              </p>
                              <div class="row">
                                <div class="col">
                                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                      <p>metros</p>
                                      <input class="form-control" type="number" value="0" min="0" name="metrajeTotal">
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="collapse multi-collapse" id="multiCollapseExample3">
                                    <div class="card card-body">
                                      <p>numero de unidades por paquete</p>
                                      <input class="form-control" type="number" value="0" min="0" name="unidad_paquete">
                                    </div>
                                  </div>
                                </div>
                              </div>
                    
                            </div>
                          </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Agregar consumible</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(typeof alert != "undefined") { %> 
<script>
    Swal.fire({
        title: '<%=alertTitle %>',
        text: '<%= alertMessage%>',
        icon: '<%=alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>' ,
        timer: '<%= timer %>'
    }).then(()=>{
        window.location='/<%= ruta %>'
    })
</script>
<% } %> 
    <script>
        var inputs = $("input[type=text]");
      for(var i = 0; i < inputs.length; i++){
        var aux = $(inputs[i]).val().trim();
        $(inputs[i]).val(aux);
      }
      </script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function seleccionado(){
    var opt = $('#opcion').val();
    
   // alert(opt);
    if(opt=="U"){
        $('#categoria').show();
        $('#subcategoria').hide();
        $('#producto').hide();
    }else{
        if(opt=="M"){
            $('#categoria').hide();
            $('#subcategoria').show();
            $('#producto').hide();
        }else{
            $('#categoria').hide();
            $('#subcategoria').hide();
            $('#producto').show();
        }
    }
}
</script>
<%- include('./partials/footer.ejs') %>
</body>
</html>