<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/img/favicon.png">
    <title>MaimanMailer</title>
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleNavar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script>import 'boxicons';</script>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>
</head>
<body class="login" >
    <%- include('partials/dev2.ejs') %>

<div class="container" style="margin-top: 150px; ">
    <div class="row justify-content-center mt-5 ">
        <div class="col-lg-5 col-md-8 col-sm-8">
            <div class="card">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">quien me tiene</h2>
                </div>
                <% results.forEach((user) => {%>
                <div class="card-body">
                    <form action="/QuienMeTieneMail" method="POST">
                        <input type="hidden" name="id" value="<%= user.id_cuadrilla %> " hidden>
                        <div class="mb-3">
                            <h5 for="usuario">Nombre de la persona que tiene la herramienta</h5>
                            <input type="text" class="form-control" value="<%= user.miembro %>" name="nombre" readonly>
                        </div>
                        <div class="mb-3">
                            <h5 for="usuario">Correo de la persona que tiene la herramienta</h5>
                            <input type="text" class="form-control" value="<%= user.correo %>" name="correo" readonly>
                        </div>
                        <% }) %> 
                        <div class="mb-3">
                            <h5 for="usuario">Nombre de la herramienta</h5>
                            <input type="text" class="form-control" value="<%= nameH1 %>" name="nombre_herramienta" readonly>
                        </div>
                      
                        
                        <div class="mb-3">
                            <h5 for="usuario">codigo de la herramienta</h5>
                            <input type="text" class="form-control" value="<%= codigoH1 %>" name="codigo_herramienta" readonly>
                        </div>
                        <div class="d-grid">
                            <a  style="font-size: 14px;" onclick="alert()" class="btn btn-outline-success">solicitud de devolucion de herramienta al tecnico</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
<script>
  function alert() {
    Swal.fire({
      title: '¿Quieres que devuelva la herramienta el tecnico?',
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'NO',
      cancelButtonColor: '#d33' ,
      confirmButtonColor:'#3085d6' ,
      confirmButtonText: ` SI `,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        Swal.fire('correo enviado exitosamente', '', 'success')
        const value = true
        setTimeout(timeUot, 2000, value);
      } 
    })
  }
  function timeUot (values){
    if(values){
      document.forms[0].submit()
    }
    
  }
</script>
    <script>
        var inputs = $("input[type=text]");
      for(var i = 0; i < inputs.length; i++){
        var aux = $(inputs[i]).val().trim();
        $(inputs[i]).val(aux);
      }
      </script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%- include('partials/footer2.ejs') %>
</body>
</html>